/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ===== COLOR VARIABLES ===== */
:root{
    --primary-color: #c6c3c3;
    --second-color: #ffffff; 
    --black-color: #000000;
}
/* ===== BODY - BACKGROUND IMAGE ===== */



/* ===== Reusable CSS ===== */



/* ===== WRAPPER ===== */